/* Main stylesheet, using BEM CSS naming conventions */

body {
  --container-height: 10000;
  --container-margin: 50;
  --container-fg-col: black;
  --container-fg-col-dark: white;
  --container-bg-col: #fd8762;
  --container-bg-col-dark: black;

  --theme-darken-start: 500;
  --theme-darken-end: 500;

  --heading-main-shrink: 0.4;
  --heading-secondary-shrink: 0.6;
  --heading-main-shrink-start: 1500;
  --heading-main-shrink-end: 2000;
  --heading-secondary-shrink-start: 1500;
  --heading-secondary-shrink-end: 2000;

  --heading-text-offset: 1.3;
  --heading-text-merge-start: 1000;
  --heading-text-merge-end: 1500;

  --heading-o-offset: 1.35;
  --heading-o-shrink-distance: 1000;
  --heading-o-margin: 0.003;
  --heading-o-width: 0.21;
  --heading-o-height-ratio: 0.47;
  --heading-o-left-offset: 0.387;
  /* Border thickness based on viewport to match thickness of logotype (also based on viewport) */
  --heading-o-thickness: 0.0147;
  /* Ensure heading-o's overhang edges enough */
  --heading-o-min-overhang: calc(var(--container-margin) * 3);
  --heading-o-fade-start: 2000;
  --heading-o-fade-end: 2001;

  --smiley-left-offset: 0.897;
  --smiley-rotate-distance: 3000;

  --hero-secondary-text-start: 200;
  --hero-secondary-text-end: 2500;

  --hero-height: 2500;

  height: calc(var(--container-height) * 1px);
  color: var(--container-fg-col);
  background-color: var(--container-bg-col);
  font-family: 'AUTHENTIC Sans';
  overflow-x: hidden;

  animation: theme-darken 1s linear
    calc(
      (var(--scroll-y) - var(--theme-darken-start)) /
        (var(--theme-darken-end) - var(--theme-darken-start)) * -1s
    )
    1 normal both paused;
}

@keyframes theme-darken {
  to {
    color: var(--container-fg-col-dark);
    background-color: var(--container-bg-col-dark);
  }
}

.header {
  height: calc(var(--header-height) * 1px);
  position: fixed;
  width: 100%;
  padding: calc(var(--container-margin) * 1px);
}

.heading__main {
  position: relative;
  transform-origin: top left;

  animation: heading-main-shrink 1s linear
    calc(
      (var(--scroll-y) - var(--heading-main-shrink-start)) /
        (var(--heading-main-shrink-end) - var(--heading-main-shrink-start)) *
        -1s
    )
    1 normal both paused;
}

@keyframes heading-main-shrink {
  to {
    transform: scale(var(--heading-main-shrink));
  }
}

.heading__secondary {
  transform-origin: top right;

  animation: heading-secondary-shrink 1s linear
    calc(
      (var(--scroll-y) - var(--heading-secondary-shrink-start)) /
        (
          var(--heading-secondary-shrink-end) -
            var(--heading-secondary-shrink-start)
        ) * -1s
    )
    1 normal both paused;
}

@keyframes heading-secondary-shrink {
  to {
    transform: scale(var(--heading-secondary-shrink));
  }
}

.heading__text {
  position: absolute;
  width: 100%;
  fill: currentColor;
}

.heading__text--kay {
  transform: translateY(calc(var(--heading-text-offset) * 100%));

  animation: heading-text-merge 1s linear
    calc(
      (var(--scroll-y) - var(--heading-text-merge-start)) /
        (var(--heading-text-merge-end) - var(--heading-text-merge-start)) * -1s
    )
    1 normal both paused;
}

.heading__smiley-container {
  position: relative;

  margin-left: calc(var(--smiley-left-offset) * 100%);
  transform: translateY(calc(var(--heading-text-offset) * 100%));

  animation: heading-text-merge 1s linear
    calc(
      (var(--scroll-y) - var(--heading-text-merge-start)) /
        (var(--heading-text-merge-end) - var(--heading-text-merge-start)) * -1s
    )
    1 normal both paused;
}

@keyframes heading-text-merge {
  to {
    transform: translateY(0);
  }
}

.heading__smiley-container::before {
  content: '';
  position: absolute;
  inset: -4px;
  background-color: white;
  border-radius: 1000px;
  opacity: 0;

  animation: smiley-bg-fade-in 1s linear
    calc(
      (var(--scroll-y) - var(--theme-darken-start)) /
        (var(--theme-darken-end) - var(--theme-darken-start)) * -1s
    )
    1 normal both paused;
}

@keyframes smiley-bg-fade-in {
  to {
    opacity: 1;
  }
}

.heading__smiley {
  display: block;
  fill: var(--container-fg-col);
  transform: rotate(20deg);

  animation: heading-smiley-rotate 1s linear
    calc(var(--scroll-y) / var(--smiley-rotate-distance) * -1s) 1 normal both
    paused;
}

@keyframes heading-smiley-rotate {
  /* The from block is required for Safari for this specific animation */
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

.heading__o {
  position: absolute;
  padding: calc(var(--heading-o-margin) * 100%) 0;
  width: calc(var(--heading-o-width) * 100%);
  aspect-ratio: 1 / var(--heading-o-height-ratio);
  left: calc(var(--heading-o-left-offset) * 100%);
}

.heading__o--end {
  transform: translateY(calc(var(--heading-o-offset) * 100%));

  animation: heading-text-merge 1s linear
    calc(
      (var(--scroll-y) - var(--heading-text-merge-start)) /
        (var(--heading-text-merge-end) - var(--heading-text-merge-start)) * -1s
    )
    1 normal both paused;
}

.heading__o-line {
  position: absolute;

  border: calc(var(--heading-o-thickness) * 100vw) solid currentColor;
  border-radius: 1000px;
  height: 100%;

  animation: heading-o-line-shrink 1s linear
    calc(var(--scroll-y) / var(--heading-o-shrink-distance) * -1s) 1 normal both
    paused;
}

@keyframes heading-o-line-shrink {
  to {
    width: 100%;
  }
}

.heading__o-line--start {
  width: calc(
    ((1 - var(--heading-o-left-offset)) / var(--heading-o-width)) * 100% +
      (var(--heading-o-min-overhang) * 1px)
  );
}

.heading__o-line--end {
  background-color: var(--container-bg-col);
  right: 0;
  width: calc(
    (
        (var(--heading-o-left-offset) + var(--heading-o-width)) /
          var(--heading-o-width)
      ) * 100% + (var(--heading-o-min-overhang) * 1px)
  );

  animation: heading-o-line-shrink 1s linear
      calc(var(--scroll-y) / var(--heading-o-shrink-distance) * -1s) 1 normal
      both paused,
    theme-darken 1s linear
      calc(
        (var(--scroll-y) - var(--theme-darken-start)) /
          (var(--theme-darken-end) - var(--theme-darken-start)) * -1s
      )
      1 normal both paused,
    heading-o-line-fade 1s linear
      calc(
        (var(--scroll-y) - var(--heading-o-fade-start)) /
          (var(--heading-o-fade-end) - var(--heading-o-fade-start)) * -1s
      )
      1 normal both paused;
}

@keyframes heading-o-line-fade {
  to {
    opacity: 0;
  }
}

.hero {
  position: relative;
  height: calc(var(--hero-height) * 1px);
}

.hero__main-container {
  position: sticky;
  top: 0;
  height: 100vh;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: calc(var(--container-margin) * 1px);
}

.hero__main {
  max-width: 25ch;
  font-size: 40px;
  text-transform: uppercase;
}

.hero__secondary {
  max-width: 15ch;
  font-size: 22px;
  position: fixed;
  right: 0;
  bottom: 0;
  box-sizing: content-box;
  padding: calc(var(--container-margin) * 1px);
  transform: translateY(100%);

  animation: hero-secondary-text-slide-in-out 1s linear
    calc(
      (var(--scroll-y) - var(--hero-secondary-text-start)) /
        (var(--hero-secondary-text-end) - var(--hero-secondary-text-start)) *
        -1s
    )
    1 normal both paused;
}

.hero__secondary::first-letter {
  margin-left: -1ch;
}

@keyframes hero-secondary-text-slide-in-out {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(0);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.main {
  line-height: 1.35;
  margin: 0 calc(var(--container-margin) * 1px);
}

.main__paragraph {
  margin: 0;
  font-size: 16px;
  max-width: 28ch;
}
